5-12-24/flow.json
{"nodeId":"Apply_to_each-copy","serializedOperation":{"type":"Foreach","foreach":"@body('Filter_array')","actions":{"Compose_1":{"type":"Compose","inputs":"@items('Apply_to_each')","runAfter":{"Condition":["Succeeded"]}},"Condition":{"type":"If","expression":{"or":[{"contains":["@items('Apply_to_each')","object("]},{"contains":["@items('Apply_to_each')","map("]},{"contains":["@items('Apply_to_each')","optional("]}]},"actions":{"Compose_3":{"type":"Compose","inputs":"sdsdg","runAfter":{"Set_currentWrapper":["SUCCEEDED"]}},"Set_currentWrapper":{"type":"SetVariable","inputs":{"name":"currentWrapper","value":"@concat(outputs('Compose_CurrentWrapper'), ',', trim(if(contains(items('Apply_to_each'), ' = '), trim(split(items('Apply_to_each'), ' = ')[0]), '')))"},"runAfter":{"Compose_6":["SUCCEEDED"]}},"Compose_CurrentWrapper":{"type":"Compose","inputs":"@variables('currentWrapper')"},"Compose_6":{"type":"Compose","inputs":"@if(contains(items('Apply_to_each'), ' = '), trim(split(items('Apply_to_each'), ' = ')[0]), '')","runAfter":{"Compose_CurrentWrapper":["SUCCEEDED"]}}},"else":{"actions":{}},"runAfter":{"indentLevel":["SUCCEEDED"]}},"indentLevel":{"type":"Compose","inputs":"@length(items('Apply_to_each')) - length(trim(items('Apply_to_each')))"}},"runAfter":{"Filter_array":["Succeeded"]}},"allConnectionData":{},"staticResults":{},"isScopeNode":true,"mslaNode":true}



{"nodeId":"Condition-copy","serializedOperation":{"type":"If","expression":{"or":[{"contains":["@items('Apply_to_each')","object("]},{"contains":["@items('Apply_to_each')","map("]},{"contains":["@items('Apply_to_each')","optional("]}]},"actions":{"Compose_3":{"type":"Compose","inputs":"sdsdg","runAfter":{"Set_currentWrapper":["SUCCEEDED"]}},"Set_currentWrapper":{"type":"SetVariable","inputs":{"name":"currentWrapper","value":"@concat(outputs('Compose_CurrentWrapper'), ',', trim(if(contains(items('Apply_to_each'), ' = '), trim(split(items('Apply_to_each'), ' = ')[0]), '')))"},"runAfter":{"Compose_6":["SUCCEEDED"]}},"Compose_CurrentWrapper":{"type":"Compose","inputs":"@variables('currentWrapper')"},"Compose_6":{"type":"Compose","inputs":"@if(contains(items('Apply_to_each'), ' = '), trim(split(items('Apply_to_each'), ' = ')[0]), '')","runAfter":{"Compose_CurrentWrapper":["SUCCEEDED"]}}},"else":{"actions":{}},"runAfter":{"indentLevel":["SUCCEEDED"]}},"allConnectionData":{},"staticResults":{},"isScopeNode":true,"mslaNode":true}

